@import "reset.css";

.score {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 36px;
}
.game-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    font-size: 36px;
    color: #fff;
    position: fixed;
}
.game-text > button {
    margin-top: 20px;
    padding: 10px;
    background: #ff4c01;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
}
.game-board > ul {
    border: 1px solid #000;
    width: 250px;
    margin: 0 auto;
}

.game-board > ul > li {
    width: 100%;
    height: 25px;
}

.game-board > ul > li > ul {
    display: flex;
}

.game-board > ul > li > ul > li {
    width: 25px;
    height: 25px;
    outline: 1px solid #c9c9c9;
}

.tree {
    background: #67c23a;
}

.bar {
    background: #ff4c01;
}
.zee {
    background: pink;
}
.elLeft {
    background: purple;
}
.elRight {
    background: coral;
}
.square {
    background: cornflowerblue;
}
